.es-list li {
    padding: 8px 10px;
}

.form-group.form-box {
    margin-bottom: 2px;
}

.form-control input,.form-control select,.form-control textarea{
    background:#fff;
    border:none;
    border-bottom:2px solid #e8ebed; border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-transition:none;
    color:#999;
    height:44px;
    font-size:16px;
    font-weight:400;
    margin-bottom:25px;
    padding:6px 12px 6px 0
}

.form-control input:focus, .form-control select:focus,.form-control textarea:focus {
    border-color:#777;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#555;
    -webkit-transition:all .3s ease;
    transition:all .3s ease
}